@model Videoteka.ViewModels.KupacFormaViewModel
@{
    ViewBag.Title = "Novi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Novi Kupac</h2>

@using (Html.BeginForm("Spremi", "Kupci"))
{
    @Html.ValidationSummary(true, "Ispravite sljedeće greške.")
    <div class="form-group">
        @Html.LabelFor(m => m.Kupac.Naziv)
        @Html.TextBoxFor(m => m.Kupac.Naziv, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Kupac.Naziv)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Kupac.TipClanstvaId)
        @Html.DropDownListFor(m => m.Kupac.TipClanstvaId, new SelectList(Model.TipoviClanstva, "Id", "Naziv"), "", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Kupac.TipClanstvaId)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Kupac.DatumRodenja)
        @Html.TextBoxFor(m => m.Kupac.DatumRodenja, "{0:dd.MM.yyyy.}", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Kupac.DatumRodenja)
    </div>
    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(m => m.Kupac.PretplacenNaNewsletter) Pretplacen na Newsletter?
        </label>
    </div>
    @Html.HiddenFor(m => m.Kupac.Id)
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">Spremi</button>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}


